extends base.pug

block scripts
  script(src='/static/index.js')
block style 
        style 
          include ../static/styles/homestyle.css


block content 
  section#introSection 
      div.big Welcome To Fitness Freak 
      div.small A community where fitness freaks can share their experience and get guidence from experts.

  section#why 
    div.he Why Fitness
    div.cards 
     div.whybox 
      h3 Long Life 
      div.cardbox 
            div.card-img 
              img(src = "../static/img/fitness_PNG150.png")
            div.cardcontent 
              p It is a well proven fact that fit people live longer than average people. When you exercise on regular basis your muscles start adapting it and become stronger. when you get older your muscles and bones reamin much stronger than the average people and that keeps you capable of fiting against disease.

     div.whybox 
      h3 Peace of Mind 
      div.cardbox 
            div.card-img 
              img(src = "../static/img/fitness_PNG207.png")
            div.cardcontent 
              p It is a well proven fact that fit people live longer than average people. When you exercise on regular basis your muscles start adapting it and become stronger. when you get older your muscles and bones reamin much stronger than the average people and that keeps you capable of fiting against disease.

     div.whybox 
      h3 Active Brain 
      div.cardbox 
            div.card-img 
              img(src = "../static/img/fitness_PNG208.png")
            div.cardcontent 
              p It is a well proven fact that fit people live longer than average people. When you exercise on regular basis your muscles start adapting it and become stronger. when you get older your muscles and bones reamin much stronger than the average people and that keeps you capable of fiting against disease.

     div.whybox 
      h3 Social Life 
      div.cardbox 
            div.card-img 
              img(src = "../static/img/fitness_PNG207.png")
            div.cardcontent 
              p It is a well proven fact that fit people live longer than average people. When you exercise on regular basis your muscles start adapting it and become stronger. when you get older your muscles and bones reamin much stronger than the average people and that keeps you capable of fiting against disease.

     div.whybox 
      h3 No Stress 
      div.cardbox 
            div.card-img 
              img(src = "../static/img/fitness_PNG150.png")
            div.cardcontent 
              p It is a well proven fact that fit people live longer than average people. When you exercise on regular basis your muscles start adapting it and become stronger. when you get older your muscles and bones reamin much stronger than the average people and that keeps you capable of fiting against disease.

     div.whybox 
      h3 Happy Life 
      div.cardbox 
            div.card-img 
              img(src = "../static/img/fitness_PNG207.png")
            div.cardcontent 
              p It is a well proven fact that fit people live longer than average people. When you exercise on regular basis your muscles start adapting it and become stronger. when you get older your muscles and bones reamin much stronger than the average people and that keeps you capable of fiting against disease.                                        


  section#sponsorsec 
    div.spon 
      h2 Our Sponsors 
      div.sponimg 
        img(src = "../static/img/facebook.png")
        img(src = "../static/img/instagram.png")
        img(src = "../static/img/twitter.png")
        img(src = "../static/img/telegram.png")
        img(src = "../static/img/youtube.png")